:root {
    --color1:white;
    --color2:rgb(19, 18, 24);
    --color3:rgb(37, 37, 160);
    --color4:black;

}

* {
    margin: 4px;
    padding: 0;
}

body {
    background: var(--color2);
    color:var(--color1);
    height: 90vh;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav li {
  list-style-type: none;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 30%;
}

.header {
    display: grid;
    grid-template-columns:50% 50% ;
}

.header-left {
display: grid;
align-items: center;
}

.header-left-container h1 {
    font-size: 5rem;
}

.header-left-container h3 {
    font-size: 2rem;
}


.header img {
    width: 100%;
}

.infos {
    min-width: 500px;
    min-height: 400px;
    width: 99%;
    background-color: var(--color4);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.btn-container {
    display:flex;
    flex-direction: column;
}

button {
    width: 50%;
    background-color: var(--color3);
    color: var(--color1);
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 30%;
}
.infos-right img {
    width: 8%;
}




